EMOTION DETECTOR Final/flows.json
[{"id":"64e80189.fb337","type":"tab","label":"EMOTION DETECTOR","disabled":false,"info":""},{"id":"511f3bd6.7721e4","type":"inject","z":"64e80189.fb337","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.5,"y":145.99999809265137,"wires":[["1499dcf1.909623"]]},{"id":"1499dcf1.909623","type":"function","z":"64e80189.fb337","name":"token generation","func":"global.set(\"SYSTOLIC_PRESSURE\",msg.payload.SYSTOLIC_PRESSURE);\nglobal.set(\"DIASTOLIC_PRESSURE\",msg.payload.DIASTOLIC_PRESSURE);\nglobal.set(\"HEART_RATE\",msg.payload.HEART_RATE);\nglobal.set(\"BLOOD_VISCOSITY\",msg.payload.BLOOD_VISCOSITY);\nreturn msg;","outputs":1,"noerr":0,"x":316.50000762939453,"y":290.4999828338623,"wires":[["a345e1c3.43fe5"]]},{"id":"56afbe26.fc47c","type":"http request","z":"64e80189.fb337","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/181f777a-a40a-494d-8326-985b80bf78e7/deployments/11d90ca4-dfb4-48de-9eb5-7b2d94c78694/online","tls":"","proxy":"","authType":"","x":827.4999847412109,"y":492.4999704360962,"wires":[["c647ffa2.c86e9","6904be9.4b7924"]]},{"id":"a345e1c3.43fe5","type":"http request","z":"64e80189.fb337","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":398,"y":358.4999542236328,"wires":[["b4454e83.aa922"]]},{"id":"b4454e83.aa922","type":"function","z":"64e80189.fb337","name":"prediction","func":"var token=msg.payload.token\nvar SYSTOLIC_PRESSURE=global.get(\"SYSTOLIC_PRESSURE\")\nvar DIASTOLIC_PRESSURE=global.get(\"DIASTOLIC_PRESSURE\")\nvar HEART_RATE=global.get(\"HEART_RATE\")\nvar BLOOD_VISCOSITY=global.get(\"BLOOD_VISCOSITY\")\nmsg.payload={\"fields\":[\"SYSTOLIC_PRESSURE\",\"DIASTOLIC_PRESSURE\",\"HEART_RATE\",\"BLOOD_VISCOSITY\"],\"values\":[[SYSTOLIC_PRESSURE,DIASTOLIC_PRESSURE,HEART_RATE, BLOOD_VISCOSITY]]}\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":615.2500152587891,"y":399.9999465942383,"wires":[["56afbe26.fc47c","f7fa52c9.2c68"]]},{"id":"c647ffa2.c86e9","type":"function","z":"64e80189.fb337","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":857.9999771118164,"y":326.7499656677246,"wires":[["9d309d5d.cc372","cc4f273f.1f5c68","99d96a66.170b08","6678c3df.62a10c","7c64986a.8295e8","4c6ab799.daa718"]]},{"id":"da340350.92e28","type":"ui_form","z":"64e80189.fb337","name":"","label":"","group":"6ca6fb51.30e8e4","order":1,"width":"0","height":"0","options":[{"label":"Systolic pressure ( 110-200 )","value":"SYSTOLIC_PRESSURE","type":"number","required":true},{"label":"Diastolic pressure ( 75-100 )","value":"DIASTOLIC_PRESSURE","type":"number","required":true},{"label":"Heart rate ( 60-120 )","value":"HEART_RATE","type":"number","required":true},{"label":"Blood viscosity ( 0.3000-0.4500 )","value":"BLOOD_VISCOSITY","type":"number","required":true}],"formValue":{"SYSTOLIC_PRESSURE":"","DIASTOLIC_PRESSURE":"","HEART_RATE":"","BLOOD_VISCOSITY":""},"payload":"","submit":"Check me 👍","cancel":"No thanks 👎","topic":"","x":81.00000381469727,"y":635.0000038146973,"wires":[["f315f797.e254f8","2ca7687b.c6ee18","764dad54.886d24","e2cb5dfd.8e92a","1499dcf1.909623"]]},{"id":"e2cb5dfd.8e92a","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":6,"width":0,"height":0,"name":"","label":"BLOOD_VISCOSITY ( 0.3000-0.4500 )","format":"{{msg.payload.BLOOD_VISCOSITY}}","layout":"row-spread","x":424.50000762939453,"y":588.5000095367432,"wires":[]},{"id":"f315f797.e254f8","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":3,"width":0,"height":0,"name":"","label":"SYSTOLIC_PRESSURE ( 110-200 )","format":"{{msg.payload.SYSTOLIC_PRESSURE}}","layout":"row-spread","x":423.00001525878906,"y":482.4999752044678,"wires":[]},{"id":"2ca7687b.c6ee18","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":5,"width":0,"height":0,"name":"","label":"HEART_RATE ( 60-120 )","format":"{{msg.payload.HEART_RATE}}","layout":"row-spread","x":398.83333587646484,"y":706.38893699646,"wires":[]},{"id":"764dad54.886d24","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":4,"width":0,"height":0,"name":"","label":"DIASTOLIC_PRESSURE ( 75-100 )","format":"{{msg.payload.DIASTOLIC_PRESSURE}}","layout":"row-spread","x":413.77777099609375,"y":788.7222576141357,"wires":[]},{"id":"45c99a3f.011b54","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":2,"width":0,"height":0,"name":"","label":"Your emotion is","format":"{{msg.payload}}","layout":"row-spread","x":1783.694595336914,"y":479.40476989746094,"wires":[]},{"id":"9d309d5d.cc372","type":"switch","z":"64e80189.fb337","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1130.8334503173828,"y":499.5833854675293,"wires":[["43e21d7e.04d944"],["2f9a9db9.0dd7e2"],["ed0a7d02.f88d6"],["962b4ea9.e1737"],["54364fd.bf925b"]]},{"id":"43e21d7e.04d944","type":"template","z":"64e80189.fb337","name":"FEAR/ANGRY 😱/😡","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"FEAR/ANGRY 😱/😡","output":"str","x":1471.6964225769043,"y":312.321382522583,"wires":[["45c99a3f.011b54"]]},{"id":"2f9a9db9.0dd7e2","type":"template","z":"64e80189.fb337","name":"DEPRESSD 😞","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"DEPRESSD 😞","output":"str","x":1452.9464225769043,"y":383.7499408721924,"wires":[["45c99a3f.011b54"]]},{"id":"ed0a7d02.f88d6","type":"template","z":"64e80189.fb337","name":"HAPPY 😁","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"HAPPY 😁","output":"str","x":1443.1249771118164,"y":484.9999723434448,"wires":[["45c99a3f.011b54"]]},{"id":"962b4ea9.e1737","type":"template","z":"64e80189.fb337","name":"SAD 😔","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"SAD 😔","output":"str","x":1434.3749771118164,"y":582.5,"wires":[["45c99a3f.011b54"]]},{"id":"54364fd.bf925b","type":"template","z":"64e80189.fb337","name":"STRESSED 😤","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"STRESSED 😤","output":"str","x":1460.6249771118164,"y":656.2499980926514,"wires":[["45c99a3f.011b54"]]},{"id":"f7fa52c9.2c68","type":"debug","z":"64e80189.fb337","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":641.5000152587891,"y":215.99999809265137,"wires":[]},{"id":"6904be9.4b7924","type":"debug","z":"64e80189.fb337","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":952.7500076293945,"y":566.0000877380371,"wires":[]},{"id":"cc4f273f.1f5c68","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":8,"width":"6","height":"1","name":"","label":"DETAILS :","format":"","layout":"row-spread","x":1154.7632751464844,"y":39.72853469848633,"wires":[]},{"id":"99d96a66.170b08","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":9,"width":"6","height":"3","name":"","label":"Human life is incomplete with emotional communication. When a person is unable to express his emotions then he said to be suffering with ALEXITHYMIA. ALEXITHYMIA is psychological condition where a person feels the emotion but cannot express, but using MACHINE LEARNING we can predict the persons emotion.","format":"","layout":"row-spread","x":1730.7355194091797,"y":93.47852516174316,"wires":[]},{"id":"6678c3df.62a10c","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":10,"width":"6","height":"2","name":"","label":"This is a machine learning system which predicts the emotion based on the values you entered in the above columns.This system predicts the output with 85.64% accuracy.","format":"","layout":"row-spread","x":1651.8465728759766,"y":140.56185913085938,"wires":[]},{"id":"7c64986a.8295e8","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":11,"width":"5","height":"1","name":"","label":"With Regards","format":"","layout":"row-spread","x":1162.4019927978516,"y":190.28407859802246,"wires":[]},{"id":"4c6ab799.daa718","type":"ui_text","z":"64e80189.fb337","group":"6ca6fb51.30e8e4","order":12,"width":"5","height":"1","name":"","label":" MANISH REDDY LETHAKULA              +91-9121409320          lmanishreddy123@hotmail.com","format":"","layout":"row-spread","x":1374.7631607055664,"y":241.9507598876953,"wires":[]},{"id":"6ca6fb51.30e8e4","type":"ui_group","z":"","name":"Enter the following data","tab":"e291ab8f.b09a68","disp":true,"width":"6","collapse":false},{"id":"e291ab8f.b09a68","type":"ui_tab","z":"","name":"        EMOTION DETECTOR","icon":"dashboard","order":1,"disabled":false,"hidden":false}]